.textarea__wrapper{
    textarea{
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 2px;
        resize: none;
        &:focus{
            outline: none;
        }
    }
}