.project__card__wrapper {

    transition: transform .2s;
    &:hover{
        transform: scale(1.1)
    }

    .task__icon{ font-size: medium; font-weight: bold; }
    .project__containerbarre{
        border: 1px solid #FFF;
        height: 8px;
        margin-bottom: 6px;
    }

    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    padding: 5px;
    height: 80px;
    border-radius: 1px;
    margin-bottom: 12px;
    cursor: pointer;

    .project__name{
        font-size: 12px;
        width: 100%;
        
    }
    .project__containdata{
        position: relative;
        font-size: 10px;
        margin-top: 5px;
    }
    .update__container{
        display: flex;
    }

    .update__container{
        width: 100%;
        .icon__left{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            height: 40px;
            align-items: flex-end;
            div{
                width: 20px;
                padding: 0px;
                svg{
                    font-size: smaller;
                }
            }
        }
    }
}