.user__wrapper {
    width: 23%;
    border: 1px solid #e6e6e6;
    padding: 10px 10px 10px 10px;
    display: flex;
    min-height: 100px;
    margin-top: 10px;
    margin-left:5px;

    
    .picture__contain{
        width: 30%;
    }

    .user__content{
        width: 70%;
        padding: 8px;
    }
}


.user__card__details{
    display: flex;
    margin-top: 20px;
    .icon{
            font-size: smaller;
            padding: 2px;
        }
    
}