.form__data{
    display: flex;
    justify-content: center;

    
}

.First__column{

    width: 30%;
    margin-right: 40px;
}

.second__column{
    width: 30%;
}



.buton__submit{
    margin: 20px 0px 20px 0px;
}