
.item__title{
    display: flex;
    justify-content: space-around;
    div{
        width: 150px;
    }
}

.projects__container{
    border-radius: 1px;
    display: flex;
    padding: 10px;
    height: 400px;
    width: 100%;
   

    .Col__title{
        padding-top: 5px;
        text-align: center;
        width: 212px;
        font-weight: 700;
    }
    .container__button{ width: 100%;}
    .title{
        padding: 8px;
        font-size: 20px;
        font-weight: 700;
    }
    .statuts__name{
        padding: 4px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 0.85rem;
    }
    .statut__colum{
        width: 400px;
        margin-right: 10px;
    }
    
}