.projects__container{
    background-color: whitesmoke;
    border-radius: 1px;
    display: flex;
    padding: 10px;
    height: 450px;
    width: 100%;
    
    overflow-y: scroll;
    overflow-x: scroll;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    .container__button{ width: 100%;}
    .title{
        padding: 8px;
        font-size: 20px;
        font-weight: 700;
    }
    .statuts__name{
        padding: 4px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 0.85rem;
    }
    .statut__colum{
        width: 400px;
        margin-right: 10px;
    }
    
}