.loginmessage__wrapper {

    height: 90px;
    border-bottom: 1px solid  #e6e6e6;
    margin-bottom: 10px;
    align-items: center;
    display: flex;

    .name__block {
        width: 50%;
        h1{
            font-size: 25px;
        }
        p{
            font-weight: 100;
            line-height: 26px;
        }
    }
}