.error__message{ color:red;}
.input__container {

    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0px 4px 0px;
    display: flex;

    .icon__verified{color:green; font-size: larger;}
    .icon__error{color:red; font-size: larger;}
    .icon__container{
        svg{
            font-size: larger;
        }
    }

    .formInpunt__wrapper{
        width: 90%;
        .wrapper{
            cursor: pointer;
            &__label{
                text-transform: capitalize;
                
            }
            &__input{
                
                input{
                    &:focus{
                        outline:none;
                        border-bottom: 1px solid lightgrey;
                    }
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    padding: 7px;
                    margin-top: 3px;
                    width: 85%;
                    height: 20px;
                }
            }
        }
    }


   
}