.sidebar__container{
    display: flex;
    height: 100vh;
    border-right: 1px solid rgba(230, 230, 230, 1);
    width: 100%;
    justify-content: center;
    cursor: pointer;
    padding: 0px 9px 0px 18px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    .nav{
        &__nav{

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__logo{
            margin: 49px 0px 71px 0px;
        }

        &__item{
            color: #000;
            &:hover{
                color:gray
            }
            &:active{
                color:gray;
                svg{
                    color: red;
                }
            }
            &:visited{
                color:gray;
            }
        }
        &__link{
            margin-bottom: 30px;
            cursor: pointer;
            height: 15px;
            width: 89%;
            padding: 5px;
            border-right: 4px solid transparent;
            svg{
                font-size: medium;
            }
            &:hover{
                border-right: 4px solid gray;
                .second__menu{display: block;}
                &:active{
                    color: red;
                }
            }

            &:last-child{
                margin-top: 100px;
                svg{
                    font-size: medium;
                    color: #3b3b3b;
                }
            }

            .second__menu{
                display: none;
            }

            

        }

    }
}


.second__menu{
    display: flex;
    flex-direction: column;
    width: 190px;
    position: absolute;
    height: 50px;
   
    padding: 5px;
    background-color: transparent;
    z-index: 10;
    

    .menu__contain{
        box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
        background-color: #FFF;
        margin-left: 40px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            padding: 5px 0px 5px 0px;
        }

    }
}