.homecard__wrapper{

    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 25%;
    height: 30%;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    border-radius: 7px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 30px;
    &:hover{
    background-color: lightgray;};
    .wrapper{
        &__title{
            width: 100%;
            font-size: 20px;
            font-weight: 100;
            text-transform: capitalize;
        }

        &__icon{
            width: 100%;
        }
    }
}