.container__wrapper{
    display: flex;
    flex-wrap: wrap;
    .created__button{
        width: 100%;
    }
    .user__list{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}