.container__wrapper{
   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;

    .title{
        padding: 10px 0px 10px 0px;
        font-weight:500;
        width: 100%;
    }

    .created__button{
        width: 100%;
    }
    .user__list{
        margin-top: 10px;
        width: 100%;
        overflow-y:scroll;
        height: 300px;
        padding-bottom: 20px;
        
    }

    
}