
@import "./utils/variables.scss";
@import "./utils/mixins.scss";

@import "./base/base.scss";
@import "./base/fonts.scss";
@import "./base/reset.scss";

@import "./theme/button.scss";
@import "./theme/spacing.scss";
@import "./theme/title.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';
body {
    color:gray;
    font-family: $mainFont;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-schedule/styles/material.css"