
@import "./utils/variables.scss";
@import "./utils/mixins.scss";

@import "./base/base.scss";
@import "./base/fonts.scss";
@import "./base/reset.scss";

@import "./theme/button.scss";
@import "./theme/spacing.scss";
@import "./theme/title.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';
body {
    color:gray;
    font-family: $mainFont;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
